<div class="inputs-checkbox inputs__container <%= @args[:class] %>">

  <input type="hidden" name="<%= @args[:name] %>" value="0">

  <input
    class="inputs__input"
    type="checkbox"
    value="1"
    name="<%= @args[:name] %>"
    data-required="<%= @args[:required] %>"
    <% if @args[:value] %>
      checked
    <% end %>
  /><%= render '../../shared/label.html' %>

  <%= render '../../shared/help.html' %>
  
</div>