<div class="inputs-checkbox inputs__container <%= @args[:class] %>">

  <input type="hidden" name="<%= @args[:name] %>" value="0">

  <input
    class="inputs__input"
    type="checkbox"
    value="<%= @args[:value] %>"
    name="<%= @args[:name] %>"
    data-required="<%= @args[:required] %>"
  /><%= render '../../shared/label.html' %>

  <%= render '../../shared/help.html' %>
  
</div>