<div class="inputs-editor inputs__container <%= @args[:class] %>">

  <%= render '../../shared/label.html' %>

  <textarea
    class="inputs__editor"
    name="<%= @args[:name] %>"
  /><%= @args[:value] %></textarea>

  <%= render '../../shared/help.html' %>
  
</div>
