<div class="inputs-geolocalization inputs__container <%= @args[:class] %>">

  <%= render '../../shared/label.html' %>

  <input
    class="inputs-geolocalization__search inputs__input"
    type="text"
    placeholder="<%= @args[:placeholder] %>"
    value="<%= @args[:value_address] %>"
  >

  <div
    class="inputs-geolocalization__map"
    data-default-zoom="<%= @args[:default_zoom] %>"
    data-default-type="<%= @args[:default_type] %>"
    data-default-lat="<%= @default_lat %>"
    data-default-lng="<%= @default_lng %>"
  ></div>

  <%= render '../../shared/help.html' %>

  <input class="inputs-geolocalization__input-lat" type="hidden" name="<%= @args[:name_lat] %>" value="<%= @args[:value_lat] %>">
  <input class="inputs-geolocalization__input-lng" type="hidden" name="<%= @args[:name_lng] %>" value="<%= @args[:value_lng] %>">
  <input class="inputs-geolocalization__input-address" type="hidden" name="<%= @args[:name_address] %>" value="<%= @args[:value_address] %>">

</div>
