<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title><%= CONFIGS[:lato_core][:application_name] %></title>
  <%= render 'layouts/lato_core/partials/load_stylesheet' %>
  <%= render 'layouts/lato_core/partials/load_javascript' %>
  <%= csrf_meta_tags %>
</head>
<body class="layout-authentication">

<div class="layout-authentication__container">

  <% flash.each do |style, message| %>
    <%=raw cell(:elements, :flash).new(message: message, style: style, close: true) %>
  <% end %>

  <%= yield %>
  
</div>

</body>
</html>
