<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
  code = cell(:elements, :code).new
  form = cell(:inputs, :form).new(url: '#', method: 'get')
%>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Cells Inputs: Password') %>

    <p>A Password is a normal input password.</p>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->

<hr>
<%=raw cell(:elements, :title).new(label: 'Normal Password input', size: 3) %>

<%=raw row.open %>

  <%=raw block.open %>

    <%=raw form.open %>

      <%=raw row.open %>

        <%=raw cell(:inputs, :password).new(name: 'sample', label: 'Insert your password') %>

      <%=raw row.close %>

    <%=raw form.close %>
    
  <%=raw block.close %>

<%=raw row.close %>

<!-- CODE SECTION -->
<%=raw row.open %>

<%=raw block.open %>

<%=raw cell(:elements, :title).new(label: 'Code', size: 6) %>

<%=raw code.open %>

<%= erb_open_tag %>=raw cell(:inputs, :password).new(name: 'sample', label: 'Insert your password') <%= erb_close_tag %>

<%=raw code.close %>

<%=raw block.close %>

<%=raw row.close %>
<!-- / CODE SECTION -->

<hr>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Other settings', size: 3) %>

    <p>
    The <b>Password input</b>, has some others configurations (<i>help</i>, <i>required</i>, <i>min_length</i>,
    <i>max_length</i>, <i>placeholder</i> and <i>class</i>) like the <b>Text input</b>. <br>
    Watch the <a href="<%= lato_core.doc_cells_inputs_text_path %>">Text input</a> documentation for more examples.
    </p>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->