<div class="inputs-select inputs__container <%= @args[:class] %>">

  <%= render '../../shared/label.html' %>

  <select
    class="inputs__select"
    type="text"
    value="<%= @value %>"
    name="<%= @args[:name] %>"
    placeholder="<%= @args[:placeholder] %>"
    data-required="<%= @args[:required] %>"
    data-create="<%= @args[:create] %>"
    data-multiple="<%= @args[:multiple] %>"

    <% if @args[:multiple] %>
      multiple="multiple"
    <% end %>
    
    <% @args[:attributes].each do |key, value| %>
      data-<%= key%>="<%= value %>"
    <% end %>
  >
    <% if @args[:option_blank] %>
      <option value=""></option>
    <% end %>
    <% @options.each do |option| %>
      <option value="<%= option[:value] %>" <%= get_option_value_selected(option[:value]) %>>
        <%= option[:name] %>
      </option>
    <% end %>
  </select>

  <%= render '../../shared/help.html' %>
  
</div>