<%
  row = cell(:elements, :row).new
  block = cell(:elements, :block).new(class: 'xs-12 sm-12 md-12')
  code = cell(:elements, :code).new
%>

<!-- PRESENTATION -->
<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Cells Elements: Title') %>

    <p>A Title can be used to render simple HTML titles on the page.</p>

  <%=raw block.close %>

<%=raw row.close %>
<!-- / PRESENTATION -->

<hr>
<%=raw cell(:elements, :title).new(label: 'Titles with different sizes', size: 3) %>

<%=raw row.open %>

  <%=raw block.open %>

    <%=raw cell(:elements, :title).new(label: 'Im an important title', size: 1) %>

    <%=raw cell(:elements, :title).new(label: 'Im an important title', size: 2) %>

    <%=raw cell(:elements, :title).new(label: 'Im an important title', size: 3) %>

    <%=raw cell(:elements, :title).new(label: 'Im an important title', size: 4) %>

    <%=raw cell(:elements, :title).new(label: 'Im an important title', size: 5) %>

    <%=raw cell(:elements, :title).new(label: 'Im an important title', size: 6) %>
    
  <%=raw block.close %>

<%=raw row.close %>

<!-- CODE SECTION -->
<%=raw row.open %>

<%=raw block.open %>

<%=raw cell(:elements, :title).new(label: 'Code', size: 6) %>

<%=raw code.open %>

<%= erb_open_tag %>=raw cell(:elements, :title).new(label: 'Im an important title', size: 1) <%= erb_close_tag %>

<%= erb_open_tag %>=raw cell(:elements, :title).new(label: 'Im an important title', size: 2) <%= erb_close_tag %>

<%= erb_open_tag %>=raw cell(:elements, :title).new(label: 'Im an important title', size: 3) <%= erb_close_tag %>

<%= erb_open_tag %>=raw cell(:elements, :title).new(label: 'Im an important title', size: 4) <%= erb_close_tag %>

<%= erb_open_tag %>=raw cell(:elements, :title).new(label: 'Im an important title', size: 5) <%= erb_close_tag %>

<%= erb_open_tag %>=raw cell(:elements, :title).new(label: 'Im an important title', size: 6) <%= erb_close_tag %>

<%=raw code.close %>

<%=raw block.close %>

<%=raw row.close %>
<!-- / CODE SECTION -->