<div class="inputs-text inputs__container <%= @args[:class] %>">

  <div class="js-sortable__main-container">

    <% @args[:components].each do |component| %>

      <div
        class="c-sortable__element js-sortable__element"
        data-position="<%= component[:position] %>"
        data-id="<%= component[:id] %>"
      >
        <%= component[:component].show %>
      </div>

    <% end %>

    <% @args[:components].each do |component| %>

      <input
        type="hidden"
        name="<%= @args[:name] %>[<%= component[:id] %>]"
        value="<%= component[:position] %>"
        class="js-sortable__hidden-input"
        data-id="<%= component[:id] %>"
      />

    <% end %>

  </div>

</div>
