<div class="inputs-text inputs__container <%= @args[:class] %>">

  <div class="js-sortable__main-container">

    <% @args[:components].each do |component| %>

      <%
        to_render = component[:component] ? component[:component].show : component[:render]
      %>

      <div
        class="c-sortable__element js-sortable__element"
        data-position="<%= component[:position] %>"
        data-id="<%= component[:id] %>"
      >
        <div class="c-sortable__handle">
          <svg width="66" height="66" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.781 0c-.448.048-.866.247-1.187.563l-9 9c-.525.498-.739 1.242-.56 1.943.179.702.723 1.252 1.422 1.438.7.187 1.446-.019 1.95-.538L31 6.812V31H6.812l5.594-5.594c.637-.598.812-1.54.433-2.326-.38-.787-1.225-1.237-2.089-1.111-.44.063-.848.272-1.156.593l-9 9c-.38.376-.594.888-.594 1.422 0 .535.214 1.047.594 1.422l9 9c.504.52 1.25.725 1.95.538.699-.186 1.243-.736 1.422-1.438.179-.701-.035-1.445-.56-1.944L6.812 35H31v24.156l-5.594-5.593c-.423-.435-1.021-.653-1.625-.594-.778.076-1.441.598-1.697 1.337-.255.74-.056 1.56.51 2.1l9 9c.779.77 2.033.77 2.812 0l9-9c.525-.499.739-1.242.56-1.944-.179-.701-.723-1.251-1.422-1.438-.7-.186-1.446.02-1.95.539L35 59.156V35h24.188l-5.594 5.563c-.525.498-.739 1.242-.56 1.943.179.702.723 1.252 1.422 1.438.7.187 1.446-.019 1.95-.538l9-9c.38-.375.594-.887.594-1.422 0-.534-.214-1.046-.594-1.421l-9-9c-.423-.435-1.021-.653-1.625-.594-.778.076-1.441.598-1.697 1.337-.255.74-.056 1.56.51 2.1L59.187 31H35V6.813l5.594 5.593c.504.52 1.25.725 1.95.538.699-.186 1.243-.736 1.422-1.438.179-.701-.035-1.445-.56-1.943l-9-9C33.976.14 33.38-.067 32.781 0z" fill-rule="nonzero" fill="#000"/>
          </svg>
        </div>
        <%= to_render %>
      </div>

    <% end %>

    <% @args[:components].each do |component| %>

      <input
        type="hidden"
        name="<%= @args[:name] %>[<%= component[:id] %>]"
        value="<%= component[:position] %>"
        class="js-sortable__hidden-input"
        data-id="<%= component[:id] %>"
      />

    <% end %>

  </div>

</div>
